html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

/* Cabeçalho */
.cabecalho {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-contato {
  background-color: #c06400;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
}

.botao-contato:hover {
  background-color: #a05200;
}

/* Menu principal */
.barra-menu {
  background-color: #c06400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  white-space: nowrap;
  gap: 20px;
}

.busca {
  display: flex;
  align-items: center;
  background-color: #a05200;
  border-radius: 20px;
  padding: 5px 10px;
  min-width: 400px; 
  flex-grow: 1;
  max-width: 600px;
}

.campo-busca {
  background-color: #a05200;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
  outline: none;
  width: 100%;
}


.campo-busca::placeholder {
  color: #ffffff;
}

.icone-busca {
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.item-menu {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.item-menu:hover {
  text-decoration: underline;
}

.breadcrumb {
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  margin-left: 85px;
  margin-top: 15px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb li + li::before {
  content: "/";
  margin: 0 5px;
  color: #999;
}

.breadcrumb a {
  text-decoration: none;
  color: #333;
}

.breadcrumb .pg-atual {
  color: #c06400;
  font-weight: 500;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  margin-top: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1000px;
  margin: 60px auto;
  text-align: center;
}

.servicos {
  padding: 10px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 220px;
}

.servicos img {
  width: 120px; 
  height: auto;
  margin-bottom: 5px; 
}

.servicos p {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
  display: block;
}

.servicos a {
  text-decoration: none;
  color: inherit;
}

.servicos:hover {
  transform: scale(1.05);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .barra-menu {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 10px;
  }

  .busca {
      width: 100%;
      justify-content: center;
      order: 2;
  }

  .campo-busca {
      width: 90%;
  }

  .item-menu {
      text-align: center;
      width: 100%;
      padding: 8px 0;
      border-top: 1px solid rgba(255,255,255,0.2);
      order: 1;
  }

  .container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 0 20px;
  }

  .servicos {
    height: auto;
  }

  .servicos img {
    width: 120px; 
  }

  .servicos p {
    font-size: 19px;
  }
}