body {
  background-color: #d9d9d9;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
.cabecalho {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-contato {
  background-color: #c06400;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
}

.botao-contato:hover {
  background-color: #a05200;
}

/* Menu principal */
.barra-menu {
  background-color: #c06400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  white-space: nowrap;
  gap: 20px;
}

.busca {
  display: flex;
  align-items: center;
  background-color: #a05200;
  border-radius: 20px;
  padding: 5px 10px;
  min-width: 400px; 
  flex-grow: 1;
  max-width: 600px;
}

.campo-busca {
  background-color: #a05200;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
  outline: none;
  width: 100%;
}


.campo-busca::placeholder {
  color: #ffffff;
}

.icone-busca {
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.item-menu {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.item-menu:hover {
  text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .barra-menu {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 10px;
  }

  .busca {
      width: 100%;
      justify-content: center;
      order: 2;
  }

  .campo-busca {
      width: 90%;
  }

  .item-menu {
      text-align: center;
      width: 100%;
      padding: 8px 0;
      border-top: 1px solid rgba(255,255,255,0.2);
      order: 1;
  }
}

/* Carrossel de produtos */
.carrossel-prod {
  overflow-x: auto;
  white-space: nowtrap;
  padding: 15px;
  background: #e0e0e0;
  border-top: 5px solid #c77d0a;
}

.carrossel {
  display: flex;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.05);
}

.item img{
  width: 50px;
  width: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}

.item span {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
/* Carrossel de produtos */

/* Assistência técnica em celulares e tablets */
.assitencia {
    padding: 50px 85px 50px;
    margin-bottom: 100px;
}

.assitencia h3 {
    font-size: 40px;
    margin-top: 20px;
}

.assitencia .skill-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px
}

.assitencia .skill-itens .item {
    background-color:rgb(255, 255, 255);
    width: 250px;
    border-radius: 10px;
    padding: 32px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.assitencia .skill-itens .item:hover {
    border-color: #5e3bee;
}

.assitencia .skill-itens .item .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.assitencia .skill-itens .item .imagem i {
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-size: 26px;
    color: black;
}

.assitencia .skill-itens .item h4 { 
    font-size: 10px
}

.assitencia .skill-itens .item p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color:black;
}
